# ============================== COnfiguracion para conectar con BD POSTGRES   ==============================
database:
  host: "10.20.30.33"
  port: 5432
  user: "postgres"
  password: "4xUR3_2017"
  database_name: "hse_video_analitics" 
  query_proyecto_por_ip: >
    SELECT id_proyecto FROM servidores WHERE id_servidor = %s;
  query_yaml: >
      SELECT
      camaras.id_camara,
      proyectos.id_axure,
      camaras.id_proyecto,
      camaras.id_cliente,
      camaras.nombre_camara,
      camaras.ip_camara,
      camaras.url_camara_server,
      camaras.estado_lugar_modelo,
      camaras.usuario,
      camaras.contrasena,
      camaras.coordenadas_area,
      camaras.time_areas,
      camaras.info_notifications,
      camaras.destinatarios
      FROM camaras
      JOIN proyectos ON camaras.id_proyecto = proyectos.id_proyecto
      WHERE camaras.id_proyecto = %s;

  query_json: >
      SELECT
      camaras.id_camara,
      proyectos.id_axure,
      camaras.id_proyecto,
      camaras.id_cliente,
      camaras.nombre_camara,
      camaras.ip_camara,
      camaras.url_camara_server,
      camaras.estado_lugar_modelo,
      camaras.usuario,
      camaras.contrasena,
      camaras.coordenadas_area,
      camaras.time_areas,
      camaras.info_notifications,
      camaras.destinatarios
      FROM camaras
      JOIN proyectos ON camaras.id_proyecto = proyectos.id_proyecto
      WHERE camaras.id_proyecto = %s;

